<?xml version="1.0" encoding="UTF-8"?>
<Configuration strict="true" name="loggingConfig" monitorInterval="30">

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>%d | level=%-5p| thread=%t | class=%c | %m%n
                </pattern>
            </PatternLayout>
        </Console>
    </Appenders>

    <Loggers>
        <AsyncRoot level="INFO" additivity="false">
            <AppenderRef ref="console"/>
        </AsyncRoot>
    </Loggers>
</Configuration>
